* {
    margin: 0 auto;
    padding: 0 auto;
}

header {
    display: flex;
}
header img {
    float: right;
    width: 7%;
}
header h2 {
    float: right;
}

header p {
    float: right;
    display: inline;
    position: absolute;
    top: 26px;
    right: 370px;
}

header a {
    text-decoration: none;
    position: absolute;
    top: 13px;
    left: 745px;
}

.naviclass  {
    margin: 10px 0px 10px 0px;
    background-color: rgb(160, 154, 147);
    height: 50px;
    width:auto;
    
}

.naviclass img{
    width: 150px;
    margin-right: 305px;
}

.naviclass ul{
    list-style-type: none;
    margin-right: 450px;
    margin-top:  -35px ;
    

}

.naviclass ul li  {
    display: inline;
    width: auto;
    height: auto;
    margin-left:50px;

}
.naviclass a{
    text-decoration: none;



}
.naviclass  ul :hover a {
    background-color: rgb(250, 250, 250) ;
    padding: 20px;
}